/nest.proyect# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

nest.proyect/node_modules
nest.proyect/dist

/node_modules
/04-postgres-pgadmin-compose/postgres/
/04-postgres-pgadmin-compose/pgadmin/
# /06-cron-ticker
*/node_modules
*.jpg
*.jpeg
*.png
*.gif
*.env
